@import "./top.scss";
@import "./hotsale.scss";
@import "./story.scss";
@import "./newproduct.scss";
@import "./recommend.scss";
@import "./match.scss";
@import "./scroller.scss";
@import "./design.scss";
@import "./cartshop.scss";
@import "./search.scss";

@import "./allgoose.scss";
@import "./reheader.scss";